:root {
  --hl-color: #2196f3;
  --hl-color: #ff5c61;

  --trans-time: 300ms;
  --width: 60%;
}

.add-tour-wrapper {
  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.add-tour {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 15px 50px 15px;

  .group {
    margin-bottom: 25px;
    position: relative;
  }

  .group:last-child {
    margin-bottom: 0;
  }

  textarea {
    resize: none;
    min-height: 100px;
  }

  input,
  select,
  textarea {
    padding: 10px 10px 10px 5px;
    width: 100%;
    font-size: 18px;
    display: block;
    border: none;
    border-bottom: 1px solid black;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      color: var(--hl-color);
    }

    &:focus ~ .bar:before {
      width: 100%;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: var(--trans-time) ease all;
    -webkit-transition: var(--trans-time) ease all;
    -moz-transition: var(--trans-time) ease all;
    -ms-transition: var(--trans-time) ease all;
    -o-transition: var(--trans-time) ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: var(--primary-color-2);
      left: 0%;
      transition: var(--trans-time) ease all;
      -webkit-transition: var(--trans-time) ease all;
      -moz-transition: var(--trans-time) ease all;
      -ms-transition: var(--trans-time) ease all;
      -o-transition: var(--trans-time) ease all;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  // Images
  .group-imgs {
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid black;

    #mainImgs {
      display: none;
    }

    .btn-imgs {
      background-color: var(--primary-color-2);
      border-radius: 8px;
    }

    .imgs-container {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .img-container {
        width: 100px;
        height: 100px;
        position: relative;

        .icon {
          position: absolute;
          top: 5px;
          right: 5px;
          color: white;
          background-color: rgba(128, 128, 128, 0.144);
          cursor: pointer;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  // &__submit-btn {
  //   background-color: #ff5c61;
  //   color: white;
  //   margin-top: 30px;
  // }

  &__submit-div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  &__submit-btn {
    border-radius: 8px;
    padding: 13px 23px;
    background-color: var(--primary-color-2);
    color: white;
    font-weight: 600;
    font-family: "Open Sans";
    letter-spacing: 1px;

    &:hover {
      background-color: var(--primary-color-hover);
    }
  }

  &__notes {
    font-size: 12px;
    margin-top: 10px;
  }
}
