:root {
  --hl-color: #2196f3;
  --trans-time: 300ms;
  --width: 60%;
}

.add-tour {
  width: var(--width);
  margin: 0 auto;
  padding: 10px 0 50px 0;

  .group {
    margin-bottom: 25px;
    position: relative;
  }

  .group:last-child {
    margin-bottom: 0;
  }

  textarea {
    resize: none;
    min-height: 100px;
  }

  input,
  select,
  textarea {
    // background: antiquewhite;
    padding: 10px 10px 10px 5px;
    width: 100%;
    font-size: 18px;
    display: block;
    border: none;
    border-bottom: 1px solid black;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      color: var(--hl-color);
    }

    &:focus ~ .bar:before {
      width: 100%;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: var(--trans-time) ease all;
    -webkit-transition: var(--trans-time) ease all;
    -moz-transition: var(--trans-time) ease all;
    -ms-transition: var(--trans-time) ease all;
    -o-transition: var(--trans-time) ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: #2196f3;
      left: 0%;
      transition: var(--trans-time) ease all;
      -webkit-transition: var(--trans-time) ease all;
      -moz-transition: var(--trans-time) ease all;
      -ms-transition: var(--trans-time) ease all;
      -o-transition: var(--trans-time) ease all;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  // Images
  .group-imgs {
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid black;

    #mainImgs {
      display: none;
    }

    .btn-imgs {
    }

    .imgs-container {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .img-container {
        width: 100px;
        height: 100px;
        position: relative;

        .icon {
          position: absolute;
          top: 5px;
          right: 5px;
          color: white;
          background-color: rgba(128, 128, 128, 0.144);
          cursor: pointer;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
