@use "../globals" as u;

.favorites-page {
  &__wrapper {
    max-width: 1200px;
    padding: 30px 15px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__type-of-page {
    // display: inline-block;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    column-gap: 20px;

    .profile-info {
      .img-div {
        padding-bottom: 10px;
      }

      img {
        border-radius: 10px;
      }

      .description {
        margin-bottom: 5px;
      }
    }
  }

  @include u.breakpoint-down(small) {
    .main-grid {
      grid-template-columns: none;

      .profile-info {
        // display: grid;
        // grid-template-columns: minmax(130px, 1fr) 2.5fr;
        // column-gap: 20px;

        margin-bottom: 30px;

        .img-div {
          float: left;
          padding-right: 20px;
          padding-bottom: 2px;
          width: u.max-px(130, 180, 320, 700);
        }

        &::after {
          content: "";
          display: block;
          clear: both;
          visibility: hidden;
          height: 0;
          font-size: 0;
        }
      }
    }
  }
}
