@use "../globals" as u;

.home {
  &__wrapper {
    max-width: 1200px;
    padding: 15px 15px 30px 15px;
    margin: 0 auto;
    display: grid;
  }

  &__cards-container {
    width: 100%;
    row-gap: 50px;
    margin: 0 auto;
    order: -1;
  }

  @include u.breakpoint(large) {
    &__wrapper {
      grid-template-columns: 1fr 2.4fr;
      column-gap: 20px;
    }

    &__cards-container {
      order: initial;
    }
  }
}
