.home {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters-and-cards-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2.4fr;
  column-gap: 20px;
}

.cards-container {
  width: 100%;
  row-gap: 50px;
  margin: 0 auto;
}
