body {
  background-color: #fff;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

button {
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn {
  background-color: var(--cool-yellow);
  letter-spacing: 3px;
  padding: 5px 15px;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
  background-color: var(--cool-yellow);
  padding: 5px 15px;
  letter-spacing: 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
