:root {
  --background-color: hsl(206, 33%, 96%);

  --almost-white: rgb(252, 252, 252);
  --cool-yellow: hsl(40, 99%, 51%);
  --primary-color-2: #ff5c61;
  --primary-color: #ff385c; // I like more this one
  --primary-color-hover: #e43353;
  --grey-primary: rgb(218, 218, 218);
  --grey-primary-2: rgb(235, 235, 235);
  --grey-primary-3: rgb(244 244 244);
  --grey-1: rgb(155, 155, 155);
  --grey-text-1: rgb(130, 130, 130);
}
