@use "../globals" as u;

.swiper-parent {
  background-color: black;
  // padding: 50px;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
  display: none;

  &.show {
    display: block;
  }

  &__close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.493);

    img {
      width: 40px;
      height: 40px;
      filter: invert(99%) sepia(1%) saturate(83%) hue-rotate(285deg) brightness(104%) contrast(100%);
    }
  }
}

.swiper-main {
  height: calc(100% - 150px);
  width: 100%;

  // For some reason there's a problem with the carousel. It selects the images when you go
  // forwards or backwards. With this 3 lines i disable selection
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  &__slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-height: 100%;
    margin: 0 auto;
  }
}

.swiper.swiper-initialized {
  height: 100%;
}

.carousel {
  &__subsection {
    height: 150px;
    background-color: white;
    padding: 20px 40px;
    gap: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-img-div {
    width: 120px;
    flex-shrink: 0;
  }

  &__logo-img {
    max-width: 100%;
  }

  &__title {
    font-size: 18px;
    text-align: end;
    font-weight: 500;
    max-width: 400px;
  }

  &__author {
    flex-grow: 0;
    width: 300px;
  }
}

@include u.breakpoint-down(medium) {
  .swiper-main {
    height: 100%;
  }

  .carousel__subsection {
    display: none;
  }
}
