@use "../globals" as u;

.footer {
  background-color: #f7f7f7;
  border-top: 1px solid #dddddd;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  font-size: 15px;
  padding: 0 8%;

  a {
    color: #222222;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    list-style: none;
  }

  &__left-container {
    display: flex;
    align-items: center;

    .icon-copyright {
      font-size: 14px;
      margin-right: 2px;
    }

    &__link {
      margin-right: 30px;
      position: relative;

      &:not(.not)::before {
        content: "";
        position: absolute;
        background-color: #222222;
        left: -15px;
        width: 3px;
        height: 3px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
      }
    }
  }

  &__right-container {
    display: flex;
    align-items: center;

    .icon-language {
      margin-right: 5px;
    }

    &__language {
      margin-right: 30px;
    }

    &__currency {
      margin-right: 45px;
    }

    // &__language:hover,
    // &__currency:hover {
    //   text-decoration: underline;
    // }

    .icon-social-media {
      margin-right: 15px;
      vertical-align: middle;
    }
  }

  @include u.breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
  }
}

// .footer {
//   nav {
//     background-color: #f7f7f7;
//     border-top: 1px solid #dddddd;
//     height: 80px;
//     width: 100%;
//     display: flex;
//     align-items: center;

//     font-size: 15px;
//     padding: 0 8%;
//   }

//   a {
//     text-decoration: none;
//     color: #222222;

//     &:hover {
//       text-decoration: underline;
//     }
//   }

//   .icon-copyright {
//     font-size: 14px;
//     margin-right: 2px;
//   }

//   .icon-language {
//     margin-left: auto;
//   }

//   &__link {
//     margin-right: 30px;
//     position: relative;

//     &:not(:first-of-type)::before {
//       content: "";
//       position: absolute;
//       background-color: #222222;
//       left: -15px;
//       width: 3px;
//       height: 3px;
//       top: 50%;
//       transform: translateY(-50%);
//       border-radius: 50%;
//     }
//   }

//   .icon-language {
//     margin-right: 5px;
//   }

//   &__language {
//     margin-right: 30px;
//   }

//   &__currency {
//     margin-right: 45px;
//   }

//   .icon-social-media {
//     margin-right: 15px;
//     vertical-align: middle;
//   }

//   @include u.breakpoint-down(small) {
//     // nav {
//     //   flex-wrap: wrap;
//     //   justify-content: center;
//     // }

//     // &__line-break {
//     //   flex-basis: 100%;
//     //   height: 1px;
//     //   background-color: red;
//     // }

//     // .icon-language {
//     //   margin-left: 0;
//     // }

//     nav {
//       display: grid;
//       justify-content: center;
//       grid-template-columns: repeat(6, auto);

//       > span {
//         display: flex;
//       }
//     }

//     .icon-language {
//     }
//   }
// }
