@use "../globals" as u;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 25px;
  font-size: 16px;
  position: relative;

  &.navbar-desktop {
    display: none;
  }

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background-color: var(--grey-primary-2);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__logo {
    display: flex;
    width: 120px;

    img {
      max-width: 100%;
    }
  }

  &-btn {
    height: 48px;
    padding: 0 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-primary);
    box-shadow: 0px 2px 2px var(--grey-primary-2);
    border-radius: 100px;
    cursor: pointer;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0px 4px 5px rgb(221, 221, 221);
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__add-tour {
      margin-right: 20px;
      text-decoration: none;
      color: black;
      font-weight: 500;
      border: none;
      box-shadow: none;
      transition: none;

      &:hover {
        box-shadow: none;
        background-color: rgb(246, 246, 246);
      }
    }

    &__nav-container {
      position: relative;
    }

    &__user {
      height: 42px;
      padding: 0 5px 0 10px;
      color: rgb(110, 110, 110);
      background-color: transparent;
      position: relative;

      &__icon {
        display: flex;
        align-items: center;
        width: 21px;
        margin-right: 10px;
      }

      &__dropdown {
        position: absolute;
        top: 50px;
        right: 0;
        width: 240px;
        padding: 10px 0;
        background-color: white;
        box-shadow: 0 0 5px var(--grey-primary);
        z-index: 1;
        border-radius: 15px;

        li {
          list-style: none;

          &:nth-last-child(2),
          &:nth-last-child(4) {
            margin-bottom: 10px;
            position: relative;

            &::after {
              content: "";
              display: block;
              position: absolute;
              bottom: -5px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: var(--grey-primary);
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__link {
          display: block;
          text-decoration: none;
          padding: 13px 20px;
          text-align: left;
          color: #060606;

          &.navbar__btn {
            width: 100%;
            text-align: left;
            background-color: transparent;
          }

          &:hover {
            background-color: rgb(246, 246, 246);
          }
        }
      }
    }
  }

  .navbar__profile-img {
    width: 35px;
    height: 35px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.navbar-mobile {
  position: relative;
  z-index: 2;

  &__close-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: transparent;
    width: 37px;
    height: 37px;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .navbar__right__user__dropdown {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 250px;
    padding-top: 50px;
    border-radius: 0;
  }

  .navbar-mobile__menu-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__right__add-tour {
    width: 230px;
    margin: 10px auto;
  }

  .search-bar__btn {
    right: 13px;
  }
}

@include u.breakpoint(medium) {
  .navbar.navbar-desktop {
    display: flex;
  }

  .navbar.navbar-mobile {
    display: none;
  }
}
