.new-waypoints {
  margin-top: 50px;

  .create-waypoint-btn {
    margin-left: auto;
    display: block;
    font-size: 21px;
    background-color: #3b3b3b;
    color: white;
    border-radius: 8px;

    &:hover {
      background-color: #3ea3f5;
    }
  }

  img {
    width: 85px;
    height: 85px;
    object-fit: cover;
  }
}
