@use "../globals" as u;

.tour-card {
  background-color: white;
  margin-bottom: 40px;
  width: 100%;
  border-radius: 8px;
  transition: transform 1s ease-in-out;
  box-shadow: 0px 1px 5px rgb(230, 230, 230);
  border: 1px solid rgb(236, 236, 236);

  &:hover {
    cursor: pointer;
    box-shadow: 1px 3px 5px rgb(207, 207, 207);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__header {
    padding: 10px 15px;

    &__transportation-favorite {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div {
        display: flex;
        align-items: center;
      }
    }

    &__favorites {
      &:hover {
        cursor: pointer;
        background-color: rgb(253, 253, 253);
      }

      > span:first-child {
        margin-right: 5px;
        font-size: 14px;
      }
    }

    &__title {
      margin: 10px 0;
    }

    &__location {
      font-size: 13.3px;
      font-weight: 400;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    grid-template-rows: 50px 10px repeat(2, minmax(auto, 200px));
    grid-template-rows: 50px 10px repeat(2, minmax(max-content, 200px));
    grid-template-rows: 50px 10px repeat(2, minmax(0, 200px));
    grid-auto-rows: 120px;
    grid-gap: 3px;
    margin-top: 10px;

    &.hide {
      grid-template-rows: 50px 10px repeat(2, auto);
    }

    &__details {
      grid-column: 1/2;
      display: flex;
      align-items: center;
      padding: 0 15px;

      & > span {
        margin-right: 45px;
      }

      & > span:last-child {
        margin-right: 0;
      }

      &__label {
        font-size: 14px;
        margin-bottom: 6px;
      }

      &__value {
        display: flex;
        font-size: 17px;
        font-weight: 500; // TODO: lower the font-weight
      }

      &__icon {
        display: flex;
        align-items: flex-end;

        > span:first-child {
          margin-left: 1px;
          margin-right: 8px;
          position: relative;
        }

        > span:first-child::after {
          content: "";
          position: absolute;
          right: -5px;
          width: 2px;
          height: 100%;
          background-color: rgb(241, 241, 241);
        }

        > span:last-child {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    &__username {
      grid-column: 2/-1;
    }

    &__main-image {
      grid-column: 1/2;
      grid-row: 3/-1;
    }

    &__secondary-image-1 {
      grid-column: 2/-1;
      grid-row: 3/4;
    }

    &__secondary-image-2 {
      grid-column: 2/-1;
      grid-row: 4/-1;
    }

    &__username {
      display: flex;
      align-items: center;

      &__img-div {
        width: 45px;
        height: 45px;
      }

      img {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }

      &__name {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.8px;
      }
    }
  }

  &__info {
    padding: 15px 15px;

    &__desc {
      margin-bottom: 20px;
    }

    &__reviews {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;
    }

    &__btn-div {
      display: flex;
      align-items: center;
      margin-left: auto;
      background-color: transparent;
      text-decoration: underline;
      cursor: pointer;

      &__btn {
        margin-left: 3px;
        transform: translateY(9%);
        -webkit-transform: translateY(9%);
        -moz-transform: translateY(9%);
        -ms-transform: translateY(9%);
        -o-transform: translateY(9%);
      }
    }
  }

  @include u.breakpoint-down(xs) {
    .tour-card__grid {
      grid-template-columns: none;
      grid-gap: 30px;
    }
    .tour-card__grid__secondary-image-1,
    .tour-card__grid__secondary-image-2 {
      display: none;
    }

    .tour-card__header__transportation-favorite {
      gap: 25px;
    }

    .tour-card__header__favorites {
      text-align: end;
    }

    .tour-card__grid__username {
      padding-left: 15px;
    }
  }
}
